<!doctype html>
<html lang="pt-br">
  <head>
    <title>Brigadeiria</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  </head>

<body>

  <div th:replace="fragmentos/navsup :: navsup"></div>

  <div class="container-fluid">
  <div class="row">
      <div th:replace="fragmentos/navlateral :: sidebar"></div>
      
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Lista de Usuários</h1>
          <div th:replace="fragmentos/navexportar :: navexportar"></div>
        </div> 
        <a th:href="@{/usuario/novo}">Adicionar Novo Usuário</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody>
            <div id="content">
              <tr th:each="usu: ${usuarios}">
                <th scope="row" th:text="${usu.id}"></th>
                <td  th:text="${usu.name}"></td>
                <td  th:text="${usu.email}"></td>
                <td>
                  <a th:href="@{/usuario/editar(id = ${usu.id})}">
                    <i class="bi bi-pencil-square"></i>
                  </a>

                  <a th:href="@{/usuario/excluir(id = ${usu.id})}">
                    <i class="bi bi-trash3"></i>
                  </a>
                </div>
              </td>
              </tr>
          </tbody>
        </table>
      </main>
  </div>
  </div>


  <!--JS-->
    <!--<script src="js/bootstrap.bundle.min.js"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"> </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="../js/dashboard.js"></script>
    <script src="js/sidebars.js"></script>
</body>
</html>