<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista de Clientes</title>
</head>
<body>
Lista de Clientes

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Tipo</th>
      <th>Telefone</th>
      <th>Endereço</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="cli: ${lista}">
      <td th:text="${cli.nome}"></td>
      <td th:text="${cli.cpf}"></td>
      <td th:text="${cli.tipo}"></td>
      <td th:text="${cli.telefone}"></td>
      <td th:text="${cli.endereco}"></td>
    </tr>
  </tbody>
</table>

</body>
</html>