<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <h1>Criar Novo Cliente</h1>
            <br />
            <form action="/clientem/salvar" method="post">
     
                <table cellpadding="10">
                    <tr>
                        <td>Nome:</td>
                        <td><input type="text" name="nome"  /></td>
                    </tr>
                    <tr>
                        <td>CPF/CNPJ:</td>
                        <td><input type="text" name="cpf" /></td>
                    </tr>
                    <tr>
                        <td>Tipo:</td>
                        <td><input type="text" name="tipo" /></td>
                    </tr>

                    <tr>
                        <td>Telefone:</td>
                        <td><input type="text" name="telefone" /></td>
                    </tr>

                    <tr>
                        <td>E-mail:</td>
                        <td><input type="text" name="email"  /></td>
                    </tr>

                    <tr>
                        <td>Endereço:</td>
                        <td><input type="text" name="endereco" /></td>
                    </tr>                            
                    <tr>
                        <td colspan="2"><button type="submit">Salvar</button> </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>